/*=======================================================

Fonts and colors

=========================================================*/


html{

	font-size: 20px;
	font-family: Merriweather, serif;

}

h1{

	font-size: 2.2em;
	font-weight: bold;

}

h2{

	font-size: 1.5em;
	font-weight: bold;

}

h3{

	
	font-size: 1.1em;

}

header, footer{

	background-color: #78d5e3;
	
}

p{

	font-size: 1em;

}


p a{

	color: blue;

}

p a:hover{

	text-decoration: underline;

}

a{

	color: black;
	text-decoration: none;
	font-size: 1.1em;

}

a:hover{

	color: blue;

}

.about, .resume, .projects, .contact{

	background-color: orange;
	border-radius: 2%;

}

/*=======================================================

Positioning

=========================================================*/

.about, .resume, .projects, .contact{
	
	margin: 200px auto 75px auto;
	padding: 80px;
	text-align: center;
	width: 1000px;
	min-height: 500px; 
	
}


header{

	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;

}

.nav{
	padding: 20px;
	text-align: center;
	
}

.nav a{ 

	padding: 10px;

}

.title{

	margin: 0px 40px;	

}

.title h3{

	margin: 5px 0px 5px 40px;

}

.headshot{
	
	height: 200px;
	float: left;
	padding-right: 20px;
	padding-left: 10px;
	
}

.hockey{
	
	position: relative;
	height: 200px;
	float: right;
	padding-right: 20px;

}


.about p{
	
	margin-top: 10px;
	padding-bottom: 15px;
	text-align: left;
	line-height: 1.3em;
	
}

.resume-add{

	width: 1000px;
	padding-top: 20px;

}

.project-add{
	
	display: inline-block;
	padding: 50px;
	width: 200px;
	z-index: 0px


}

.projects h2{

	margin-left: 25px;

}

.project-list{

	display: inline-block;
	margin-left: -60px;

}

.project-list img{
	
	margin-top: 5px;
	width: 280px;
	height: 200px;
	opacity: 0.4;
	border: 2px solid black;

}

.project-list img:hover{

	opacity: 1;

}

.project-list p{
	
	width: 100%;
	margin-left: 20%;
	text-align: center;

}


footer{
	
	padding: 20px;
	text-align: center;
	
}


footer a{

	padding-left: 20px;

}
/*=======================================================

Add and Remove Sections

=========================================================*/

.nav{

	display: block;

}

.about{

	display: none;

}

.resume{

	display: none;

}

.projects{

	display: none;

}


footer{

	display: block;

}