
/*=======================================================

Fonts and colors

=========================================================*/


html{

	font-size: 20px;
	font-family: Merriweather, serif;

}

h1{

	font-size: 2.2em;
	font-weight: bold;

}

h2{

	font-size: 1.5em;
	font-weight: bold;

}

#Education h2, #Employment h2, #Awards h2, #Thinkful h2, #Games h2, #Freelance h2{

	text-align: center;
	margin: 5px auto 10px auto;
	font-size: 1.3em;
}

h3{

	
	font-size: 1.1em;

}

h4{

	font-size: 1em;
	font-weight: bold;

}

#Education h4{

	font-size: 1em;
	font-weight: bold;
	margin: 10px 0px 0px 10px;
	
}

li{

	list-style: disc;
	font-weight: normal;

}


#Employment li{

	margin-top: 8px;

}

#Education ul{

	padding:0px 0px 5px 30px;
	font-size: 1em;

}

#Awards ul{

	padding:0px 0px 5px 53px;
	font-size: 1em;
	text-align: left;

}

#Education ul{

	font-style: italic;
	margin-left: 30px;

}

.subbullet li{

	margin-left: 60px;
	list-style-type: circle;

}


h5{
	clear: both;
	font-style: italic;
	margin-left: 10px;
}

header, footer{

	background-color: #78d5e3;
	
}

p{

	font-size: 1em;

}


p a, a h2{

	color: blue;

}

p a:hover, a h2:hover{

	text-decoration: underline;

}

a{

	color: black;
	text-decoration: none;
	font-size: 1.1em;

}

a:hover{

	color: blue;

}

.about, .resume, .projects, .contact{

		border-radius: 2%;

}

/*=======================================================

Positioning

=========================================================*/

.about, .resume, .projects, .contact{
	
	margin: 150px auto 75px auto;
	padding: 20px 80px;
	text-align: center;
	width: 1000px;
	min-height: 500px;
}

.container{

	background-color: #FFF8DC;
	border-radius: 20px;
	border: 5px solid black;
	padding: 20px 80px;
	margin: 30px auto 0% auto;
	
}

header{

	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;

}

.nav{
	padding: 20px;
	text-align: center;
	
}

.nav a{ 

	padding: 10px;

}

.title{

	margin: 0px 40px;	

}

.title h3{

	margin: 5px 0px 5px 40px;

}

.headshot{
	
	height: 200px;
	float: left;
	padding-right: 20px;
	padding-left: 10px;
	
}

.hockey{
	
	position: relative;
	height: 200px;
	float: right;
	padding-right: 20px;

}


.about p{
	
	margin-top: 10px;
	padding-bottom: 15px;
	text-align: left;
	line-height: 1.3em;
	
}

.resume-add{

	width: 1000px;
	padding-top: 20px;

}

.project-add{
	
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin: 10px;
	width: 288px;

}


footer{
	
	padding: 20px;
	text-align: center;
	
}


footer a{

	padding-left: 20px;

}
/*=======================================================

Add and Remove Sections

=========================================================*/

.nav{

	display: block;

}

.about{

	display: none;

}

.resume{

	display: none;

}

.projects{

	display: none;

}


footer{

	display: block;
	position: fixed;
	bottom: 0%;
	width: 100%;	


}

.edu-hide, .emp-hide, .awa-hide, .think-hide, .free-hide, .games-hide{

	display: none;
}

/*=======================================================

Resume Formatting

=========================================================*/


#Employment{
width: 1000px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color: #FFF8DC;
border-radius: 20px;
font-size: 1em;
}

#Education{
width: 1000px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color:#FFF8DC;
border-radius: 20px;
font-size: 1em;
}

#Awards{
width: 1000px;
margin: 30px auto 0% auto;
border: 5px solid black;
padding: 1%;
background-color: #FFF8DC;
border-radius: 20px;
font-size: 1em;
text-align:center;
}

.box1{
display:block;
float: left;
margin: 5px 20px 0px 10px;
padding-right: 20px;
}

.box2{
display: block;
float: left;
margin: 5px 25px 5px 20px;
border-left: 5px solid black;
text-align: center;
padding: 0px 20px 0px 40px;
}

.box3{
display:block;
float:left;
padding: 0px 20px 0px 45px;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
text-align: center;
}

.box4{
display:inline-block;
margin: 5px 25px 0px 0px;
padding-right: 20px;
}

.box5{
display:inline-block;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
padding: 0px 20px 0px 40px;
}

.box6{
display:inline-block;
padding: 0px 20px 0px 40px;
margin: 5px 25px 5px 0px;
border-left: 5px solid black;
}

.subbox{
border-bottom:1px dashed black;
margin: 10px 20px 10px 59px;
padding-bottom: 15px;
}

.subbox2{
margin: 10px 20px 10px 59px;
padding-bottom: 15px;
}




/*=======================================================

Projects Formatting

=========================================================*/


.project-list{

	margin: auto;
	text-align: center;
	
}

.project-list img{
	
	margin-top: 5px;
	width: 280px;
	height: 200px;
	opacity: 0.7;
	border: 2px solid black;

}

.project-list img:hover{

	opacity: 1;

}

.project-list p{
	
	width: 288px;
	text-align: left;
	margin-bottom: 10px;
	
}

#Thinkful{

width: 1000px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color: #FFF8DC;
border-radius: 20px;
font-size: 1em;

}

#Games{

width: 1000px;
margin:3% auto 3% auto;
border: 5px solid black;
padding: 1%;
text-align: left;
background-color: #FFF8DC;
border-radius: 20px;
font-size: 1em;

}

#Freelance{

width: 1000px;
margin: 30px auto 0% auto;
border: 5px solid black;
padding: 1%;
background-color: #FFF8DC;
border-radius: 20px;
font-size: 1em;
text-align:center;

}
